body {
    font-family: Arial, sans-serif;
    background-color: #e8f0fe;
}

.container {
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
}

h1 {
    color: darkblue;
}

input {
    padding: 12px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 12px 18px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
